path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke: black;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}


#gt_id{
  text-align:right;
  font-size:20px;
  position: relative;
  margin-right:500px;
  margin-top:150px;
}